@import "../sass/h5bp";
@import "./_colours";
@import "../sass/mixins";

@import "../sass/base";

// Custom logo styling for InfraSignal
#site-logo {
    width: 550px;
    height: 120px;
    background-image: url('/cobrands/infrasignal/images/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left -35px;
}

#site-header {
    height: 45px;
    overflow: hidden;
    padding: 0;
}

#main-nav {
    min-height: 1.5em;
}

/* Header: 45px fixed height (clips 120px logo), logo stays 550x120px */

/* "Show reports in your area" box: keep within page boundary */
.dashboard-item--6 {
    float: left !important;
    margin-right: 0 !important;
    box-sizing: border-box;
}

.dashboard-search {
    max-width: 100%;
    box-sizing: border-box;
}

.dashboard-search__input {
    max-width: 100%;
    box-sizing: border-box;

    select {
        max-width: 100%;
        box-sizing: border-box;
    }
}

